<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Telephony-FE App</display-name>
  <servlet>
  	<servlet-name>Main</servlet-name>
  	<display-name>Main</display-name>
  	<description></description>
  	<servlet-class>com.inted.as.telephony.Main</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Main</servlet-name>
  	<url-pattern>/Main</url-pattern>
  </servlet-mapping>
</web-app>
